pkgbase = omarchy-rdp
	pkgdesc = Interactive Terminal RDP Connection Manager for Omarchy and Hyprland
	pkgver = 1.0.3
	pkgrel = 1
	url = https://github.com/PouletTendre/omarchy-rdp
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = jq
	depends = gum
	depends = fzf
	depends = freerdp
	depends = libsecret
	depends = foot
	source = omarchy-rdp-1.0.3.tar.gz::https://github.com/PouletTendre/omarchy-rdp/archive/refs/tags/v1.0.3.tar.gz
	sha256sums = 4f39df13069ebbccd8706e86fd0a7340413dca686b3bf878b25deafe48abe463

pkgname = omarchy-rdp
