pkgbase = omarchy-rdp
	pkgdesc = Interactive Terminal RDP Connection Manager for Omarchy and Hyprland
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/PouletTendre/omarchy-rdp
	arch = any
	license = MIT
	makedepends = git
	depends = bash
	depends = jq
	depends = gum
	depends = fzf
	depends = freerdp
	depends = libsecret
	depends = foot
	source = omarchy-rdp-1.0.1.tar.gz::https://github.com/PouletTendre/omarchy-rdp/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = 2ef53ab918f111aeec6a3f2bdf21601a56d519b5e832e55f6aa7ccedada32a9a

pkgname = omarchy-rdp
