[Desktop Entry]
Name=Omarchy RDP (Terminal)
Comment=Gestionnaire de Connexions Bureau à Distance (Terminal)
Exec=foot --app-id=omarchy-rdp -e omarchy-rdp
Icon=network-workgroup
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
Keywords=rdp;windows;remote;desktop;freerdp;tui;
